@use "../../styles/variables.scss" as *;

.backlinks {
  flex-direction: column;

  & > h3 {
    font-size: 1rem;
    margin: 0;
  }

  & > ul.overflow {
    list-style: none;
    padding: 0 0 0 0.85rem;
    margin: 0.5rem 0;
    max-height: calc(100% - 2rem);
    overflow-y: visible;
    box-sizing: border-box;
    overscroll-behavior: contain;

    & > li {
      line-height: 1.45rem;

      & > a {
        background-color: transparent;
      }
    }
  }
}
