.content-meta {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 1rem;
  line-height: 1.6rem;
  color: var(--darkgray);

  &[show-comma="true"] {
    > *:not(:last-child) {
      margin-right: 8px;

      &::after {
        content: ",";
      }
    }
  }

  & .content-meta-tags {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    align-items: center;
  }

  & a.internal.tag-link {
    margin: 0;
    padding: 0.05rem 0.3rem;
    border-radius: 6px;
    background-color: var(--highlight);
    font-size: 0.72rem;
    line-height: 1.2rem;
  }
}
